<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="assets/imgfavicon.png">

  <title>nexter &mdash; your home, your freedom</title>
</head>
<body class="container">
<div class="sidebar">
  Sidebar
</div>
<div class="header">
  Header
</div>
<div class="realtors">
  Realtors
</div>
<div class="features">
  Features
</div>
<div class="story__pictures">
  Story Pictures
</div>
<div class="story__content">
  Story Content
</div>
<section class="homes">
  Homes
</section>
<section class="gallery">
  Gallery
</section>
<section class="footer">
  Footer
</section>
<!--  <nav>-->
<!--    <ul class="navigation">-->
<!--      <li><a href="#">About Us</a></li>-->
<!--      <li><a href="#">Home</a></li>-->
<!--      <li><a href="#">Memes</a></li>-->
<!--    </ul>-->
<!--    <div class="button">-->
<!--      <a class="btn-main" href="#">Sign up</a>-->
<!--      <a class="btn-hot" href="#">new meme</a>-->
<!--    </div>-->
<!--  </nav>-->
</body>
</html>
