.story {

  &__pictures {
    grid-column: full-start / col-end 4;
    background-color: $color-primary;
    $color-primary-50-percent: rgba($color-primary, .5); // cover the bg img with 50% color to make it blend in
    background-image: linear-gradient($color-primary-50-percent, $color-primary-50-percent), url("../assets/img/back.jpg");
    background-size: cover;

    display: grid;
    // 6 x 6 layout - 2 for surrounding space and 4 for the picture
    // so the picture takes 4/6 = 2/3 of the available space
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center; // aligns cell content vertically (cross-axis)
    //align-content: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      grid-row: 6;
      grid-column: full-start / full-end;
    }
  }

  &__img {
    width: 100%;

    &--1 {
      grid-row: 2 / 6;
      grid-column: 2 / 6;
      box-shadow: 0 2rem 5rem rgba(black, .1);

      @media only screen and (max-width: $bp-medium) {
        width: 70%;
        grid-row: 1 / 5;
        grid-column: 1 / 5;
      }
    }

    &--2 {
      width: 115%; // overflows the grid
      grid-row: 4 / 6;
      grid-column: 4 / 7;
      z-index: 20; // to make overflow visible increase z-index

      @media only screen and (max-width: $bp-medium) {
        width: 70%;
        grid-row: 3 / -1;
        grid-column: 3 / -1;
        align-self: end;
        justify-self: end;
      }
    }

  }

  &__content {
    grid-column: col-start 5 / full-end;
    background-color: $color-grey-light-1;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 5;
      grid-column: full-start / full-end;
    }

    padding: 6rem 8vw;

    //display: flex; // simple 1 dimensional layout for the story content
    //flex-direction: column;
    //justify-content: center; // center the content horizontally
    //align-items: flex-start; // default is stretch - will stretch the button to full width

    display: grid; // center the content horizontally and stop the button from stretching across the full width
    //justify-content: center; // aligns grid inside grid container vertically in rows (main-axis)
    align-content: center; // aligns grid inside grid container (cross-axis)
    justify-items: start; // default is stretch - will stretch the button to full width
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
